@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

.encabezado {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
  padding: 10px 0px;
}

.barraNavegacion {
  margin: 0px 15px;
}

.barraNavegacion ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.barraNavegacion ul li {
  padding: 10px;
}

.barraNavegacion ul li a {
  color: #242e5299;
  font-size: 13px;
  text-decoration: none;
  transition: all 500ms ease-out;
}

.barraNavegacion ul li a:hover {
  opacity: 0.6;
  transition: 500ms;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 40px;
}

.imagenPrincipal {
  margin-bottom: 50px;
}

.imagenPrincipal img {
  width: 100%;
}

.contenidoBanner {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  margin-bottom: 20px;
  text-align: right;
}

.contenidoBanner p {
  line-height: 26px;
  text-align: right;
}

.boton {
  background-color: #8b48bf;
  border: 0px;
  border-radius: 50px;
  color: #ffffff;
  font-size: 14px;
  margin: 20px 0px;
  padding: 10px 40px;
  text-decoration: none;
  transition: all 500ms ease-out;
}

.boton:hover {
  opacity: 0.7;
  scale: 1.1;
}

.seccionProfesionales {
  background-color: #3cddf3;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.seccionProfesionales h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  margin: 40px 30px 20px 30px;
}

.seccionProfesionales p {
  line-height: 24px;
  margin: 20px 30px 40px 30px;
}

.seccionArticulos {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.seccionArticulos article {
  margin-left: 60px;
}

.tituloArticulo {
  align-items: center;
  background-color: rgba(139, 72, 191, 0.3);
  display: flex;
}

.tituloArticulo .boton {
  color: #ffffff;
  font-weight: 700;
  left: -14px;
  margin: 0px;
  padding: 10px 20px;
  position: relative;
}

.tituloArticulo h3 {
  color: #323851;
  font-weight: 700;
  padding-right: 10px;
}

article p {
  color: #b3b2b7;
  line-height: 26px;
  margin: 30px 15px 20px 0px;
}

.seccionMejorMes {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.seccionMejorMes h2 {
  color: #242e53;
  font-size: 36px;
  font-weight: 700;
  margin: 20px;
}

.contenidoMejorMes {
  align-items: center;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  margin: 60px 20px 20px;
}

.contenidoMejorMes img {
  bottom: 35px;
  position: relative;
  transition: all 500ms ease-out;
}

.contenidoMejorMes img:hover {
    scale: 1.2;
    transition: 500ms;
  }

.nombreJugador {
  color: #3f4868;
  font-weight: 700;
}

.contenidoMejorMes p {
  margin: 20px;
  text-align: center;
}

.seccionMejoresEquipos {
  align-items: center;
  background-color: #3cddf3;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.seccionMejoresEquipos h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  margin: 40px 60px 0px;
  text-align: center;
}

.saltoLinea {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
}

.saltoLinea::before {
  content: "\a";
  white-space: pre;
}

.seccionMejoresEquipos .boton {
  background-color: #232c50;
  margin: 40px 0px;
}

footer {
  align-items: center;
  background-color: #1e1e26;
  display: flex;
  flex-direction: column;
}

.suscripcion {
  margin: 5px;
  text-align: center;
  width: 85%;
}

#emailUsuario {
  border: none;
  border-radius: 50px;
  margin-right: 5%;
  margin-top: 40px;
  padding: 10px;
  width: 70%;
}

.botonForm {
  color: #ffffff;
  padding: 10px 20px;
}

.botonForm:hover {
  cursor: pointer;
}

.menuFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px;
  width: 70%;
}

.menuFooter ul {
  list-style: none;
}

.menuFooter ul li {
  padding: 8px;
}

.menuFooter ul li a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  transition: all 500ms ease-out;
}

.menuFooter ul li a:hover {
  opacity: 0.6;
  transition: 500ms;
}

.contenedorLogoRedes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0px;
  width: 95%;
}

.redes a {
  margin: 10px 7%;
  transition: all 500ms ease-out;
}

.redes a:hover{
    scale: 1.1;
    transition: 500ms;
}

.contenedorLogoRedes img {
  margin-top: 10px;
}

.derechos {
  color: #8c8c94;
  font-size: 13px;
  margin: 40px;
}

.escritorio {
  display: none;
}

@media (min-width: 481px) {
  .escritorio {
    display: flex;
  }

  .mobile {
    display: none;
  }

  .encabezado {
    justify-content: space-around;
  }

  .banner {
    align-items: center;
    flex-direction: row;
    margin: 0px 10%;
  }

  .imagenPrincipal {
    padding-right: 5%;
    width: 50%;
  }

  .contenidoBanner {
    padding-left: 5%;
    width: 50%;
  }

  .seccionProfesionales {
    align-items: center;
    background-color: #8b48bf;
    flex-direction: row;
  }

  .seccionProfesionales h2 {
    margin: 40px 30px;
    padding-left: 10%;
    width: 50%;
  }

  .seccionProfesionales p {
    margin: 40px 30px;
    padding-right: 10%;
    width: 50%;
  }

  .seccionArticulos {
    background-color: #fafafa;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15%;
  }

  .seccionArticulos article {
    margin: 0px 0px 20px;
    padding: 0px 2%;
    width: 50%;
  }

  .tituloArticulo {
    background-color: #fafafa;
    left: -60px;
    padding-right: 50px;
    position: relative;
  }

  .seccionArticulos article p {
    padding-right: 10%;
  }

  .seccionMejorMes h2 {
    margin: 60px 20px;
  }

  .contenedorMejoresMes {
    display: flex;
    justify-content: space-around;
    margin: 0px 5%;
  }

  .contenidoMejorMes {
    margin: 60px 0px 30px;
  }

  .seccionMejorMes .boton {
    margin-bottom: 60px;
  }

  .seccionMejoresEquipos {
    align-items: center;
    background-color: #8b48bf;
    flex-direction: row;
    justify-content: space-between;
  }

  .seccionMejoresEquipos h2,
  .saltoLinea {
    margin: 60px 10%;
    text-align: left;
  }

  .seccionMejoresEquipos .boton {
    background-color: #ffffff;
    color: #8b48bf;
    margin: 60px 10%;
    text-align: center;
  }

  footer {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 80px;
  }

  .contenedorLogoRedes {
    justify-content: flex-start;
    width: 25%;
  }

  .contenedorLogoRedes img {
    margin: 10px 0px;
  }

  .redes {
    justify-content: flex-start;
    margin: 40px 0px 0px;
    order: 1;
  }

  .redes a {
    margin: 3%;
  }

  .menuFooter {
    margin: 0px 5px;
    order: 1;
    width: 30%;
  }

  .suscripcion {
    align-self: flex-start;
    order: 2;
    width: 35%;
  }

  #emailUsuario {
    margin-top: 0px;
  }

  .contenedorDerechos {
    display: flex;
    justify-content: flex-end;
    order: 3;
    width: 100%;
  }

  .derechos {
    margin: 10px;
  }
}
