@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}

.encabezado{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
    padding: 10px 0px;
}

.barraNavegacion{
    margin: 0px 15px;
}

.barraNavegacion ul{
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.barraNavegacion ul li{
  padding: 10px;
}

.barraNavegacion ul li a{
    color: #242E52;
    font-size: 13px;
    text-decoration: none;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 40px;
}

.imagenPrincipal{
    margin-bottom: 50px;
}

.imagenPrincipal img{
    width: 100%;
}

.contenidoBanner{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 20px;
    text-align: right;
}

.contenidoBanner p{
    line-height: 26px;
    text-align: right;
}

.boton{ 
    background-color: #8B48BF;
    border: 0px;
    border-radius: 50px;
    margin: 20px 0px;
    padding: 10px 30px;
}

.boton a{
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}

.seccionProfesionales{
    background-color: #3CDDF3;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;

}

.seccionProfesionales h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 41px;
    margin: 40px 30px 20px 30px;
}

.seccionProfesionales p{
 line-height: 24px;
 margin: 20px 30px 40px 30px;
}

.seccionArticulos{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.seccionArticulos article{
    margin-left: 60px;
}

.tituloArticulo{
    align-items: center;
    background-color: rgba(139, 72, 191, 0.3);
    display: flex
}

.tituloArticulo button{
    color: #FFFFFF;
    font-weight: 700;
    left: -14px;
    margin: 0px;
    position: relative;
}

.tituloArticulo h3{
    color: #323851;
    font-weight: 700;
    padding-right: 10px;
}

article p{
    color: #B3B2B7;
    line-height: 26px;
    margin: 30px 15px 20px 0px;
}

.seccionMejorMes{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.seccionMejorMes h2{
    color: #242E53;
    font-size: 36px;
    font-weight: 700;
    margin: 20px;
}

.contenidoMejorMes{
    align-items: center;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    margin: 60px 20px 20px;
}

.contenidoMejorMes img{
    position: relative;
    bottom: 35px;
}

.nombreJugador{
    color: #3F4868;
    font-weight: 700;
}

.contenidoMejorMes p{
    text-align: center;
    margin: 20px;
}

.seccionMejoresEquipos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3CDDF3;
    margin-top: 10px;
}

.seccionMejoresEquipos h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
    text-align: center;
    margin: 40px 60px 0px;
}

.saltoLinea{
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #FFFFFF;
    text-align: center;
}

.saltoLinea::before{
    content: "\a";
    white-space: pre;
}

.seccionMejoresEquipos .boton{
    background-color: #232C50;
    margin: 40px 0px;
}

footer{
    background-color: #1E1E26;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suscripcion{
    width: 85%;
    margin: 5px;
    text-align: center;
}

#emailUsuario{
    width: 70%;
    padding: 10px;
    margin-right: 5%;
    margin-top: 40px;
    border-radius: 50px;

}

.botonForm{
    color: #FFFFFF;
}

.menuFooter{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: 10px 0px;
    flex-wrap: wrap;
}

.menuFooter ul{
    list-style: none;
}

.menuFooter ul li{
    padding: 8px;
}

.menuFooter ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 400;   
}

.contenedorLogoRedes{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.redes{
    margin: 20px 0px;
    width: 95%;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.redes a{
    margin: 10px 7%;
}

.contenedorLogoRedes img{
    margin-top: 10px;
}

.derechos{
    margin: 40px;
    font-size: 13px;
    color: #8C8C94;
}

.escritorio {
    display: none;
    
}

@media (min-width: 481px) {


    .escritorio{
        display: flex;
    }

    .mobile{
        display: none;
    }

    .encabezado{
        justify-content: space-around;
    }

    .banner{
        flex-direction: row;
        margin: 0px 10%;
        align-items: center;
    }

    .imagenPrincipal {
        padding-right: 5%;
        width: 50%;
    }

    .contenidoBanner{
        padding-left: 5%;
        width: 50%;
    }

    .seccionProfesionales{
        background-color: #8B48BF;
        flex-direction: row;
        align-items: center;

    }

    .seccionProfesionales h2{
        width: 50%;
        margin: 40px 30px;
        padding-left: 10%;
    }

    .seccionProfesionales p{
        width: 50%;
        margin: 40px 30px;
        padding-right: 10%;
    }

    .seccionArticulos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #FAFAFA;
    }

    .seccionArticulos article{
        width: 40%;
        padding: 0px 2%;
        margin: 0px 0px 20px;
    }

    .tituloArticulo{
        background-color: #FAFAFA;
    }

    .seccionMejorMes h2{
        margin: 60px 20px;
    }

    .contenedorMejoresMes{
        display: flex;
        margin: 0px 5%;
        justify-content: space-around;
    }

    .contenidoMejorMes{
        margin: 60px 0px 30px;
    }

    .seccionMejorMes .boton{
        margin-bottom: 60px;
    }

    .seccionMejoresEquipos{
        background-color: #8B48BF;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .seccionMejoresEquipos h2, .saltoLinea{
        text-align: left;
        margin: 60px 10%;
    }

    .seccionMejoresEquipos .boton{
        background-color: #FFFFFF;
        margin: 60px 10%;
    }

    .seccionMejoresEquipos .boton a{
        color: #8B48BF;
        width: 100%;
    }

    footer{
        flex-direction: row;
        padding: 30px 80px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contenedorLogoRedes{
        width: 25%;
        justify-content: flex-start;
    }

    .contenedorLogoRedes img{
        margin: 10px 0px;
    }

    .redes{
        order: 1;
        justify-content: flex-start;
        margin: 40px 0px 0px;
    }

    .redes a{
        margin: 3%;
    }

    .menuFooter{
        width: 30%;
        order: 1;
        margin: 0px 5px;
    }

    .suscripcion{
        width: 35%;
        order: 2;
        align-self: flex-start;
    }

    #emailUsuario{
        margin-top: 0px;
    }

    .contenedorDerechos{
        order: 3;
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .derechos{
        margin: 10px;
    }

}